/product/*
!/product/texture
!/product/ui
/product/texture/*
!/product/texture/image/bgcg/*
!/product/texture/image/bgstory
!/product/texture/image/iconexpression
!/product/texture/image/iconrolequlity
!/product/texture/image/pets
!/product/texture/image/role
!/product/texture/image/rolecharacter
!/product/texture/image/rolecharacterbig
!/product/texture/image/rolemonster
!/product/texture/image/rolepartner
!/product/texture/image/roleplayer
!/product/texture/image/roleplayersp
!/product/texture/image/rolestory
!/product/texture/image/rolewaferlihui